In [1]:
import sqlite3

In [ ]:
#파일명 - DB명
#시트 - Table
#행, 열 - 레코드, 컬럼

In [2]:
conn = sqlite3.connect('student.db')
conn

In [3]:
sql = """
CREATE TABLE student
 (
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student") #같은 테이블 이름이 있으면 지워라
c.execute(sql)
c.close()

In [4]:
sql = """
INSERT INTO student VALUES
 ('학생1', 1, "서울 강남구 일원동", 'male')
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [5]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

### 실습 1 table을 하나 만들고, 데이터를 넣고, 불러오기.
* 테이블명 : student1
* 컬럼 name(text), korean(정수), math, english
* 데이터를 하나 넣고 불러오기

In [ ]:
conn = sqlite3.connect('student.db') #db 연결
conn

In [6]:
sql = """
CREATE TABLE student1
 (
 name text,
 korean integer,
 math integer,
 english integer
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student") #같은 테이블명이 있으면 지워라
c.execute(sql)
c.close()

In [7]:
# INSERT는 넣는다는 의미
sql = """
INSERT INTO student1 VALUES
 ('학생2', 70 , 70, 80)
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [8]:
# student1의 select 전체를 검색하겠다.
sql = 'select * from student1'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터를 확인하겠다.
print(c.fetchone())

('학생2', 70, 70, 80)

### history

In [27]:
import sqlite3

In [28]:
conn = sqlite3.connect('student.db')
conn

In [29]:
sql = """
 CREATE TABLE student
 ( 
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

### 여러 개의 데이터를 넣고 조회해보기
    # ?는 나중에 데이터가 들어가겠다는 의미
sql = """ 
INSERT INTO student VALUES 
(?, ?, ?, ?) 
""" 
c = conn.cursor() 
c.execute(sql, ("학생2", 2, "안양", "female"))

### 여러개 데이터 넣기
data = [ 
    ('학생3', 3, '경기도', 'female'), 
    ('학생4', 4, '춘천', 'female'), 
    ('학생5', 5, '대구', 'male') 
]

c = conn.cursor()
c.executemany(sql, data) 
c.close 
conn.commit()

In [31]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

#하나의 데이터 확인
print(c.fetchone())

('학생2', 2, '안양', 'female')

In [32]:
for s in c.fetchmany(2):
    print(s)

('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')

In [33]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
#10건의 데이터를 가져오겠다는 의미
for s in c.fetchmany(10):
    print(s)

('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')

### 실습 3-1
* student1안에 데이터를 7개 넣고,
* 첫번째 방법, fetchmany(10) 검색해 보기
* 두번째 방법, fetchall() 검색해 보기

In [ ]:
conn = sqlite3.connect('student.db') #db 연결
conn

In [ ]:
sql = """
CREATE TABLE student1
 (
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student") #같은 테이블명이 있으면 지워라
c.execute(sql)
c.close()

In [ ]:
### 여러 개의 데이터를 넣고 조회해보기
    # ?는 나중에 데이터가 들어가겠다는 의미
sql = """ 
INSERT INTO student VALUES 
(?, ?, ?, ?) 
""" 
c = conn.cursor() 
c.execute(sql, ("학생2", 2, "안양", "female"))

### 여러개 데이터 넣기
data = [ 
    ('학생3', 3, '경기도', 'female'), 
    ('학생4', 4, '춘천', 'female'), 
    ('학생5', 5, '대구', 'male'),
    ('학생6', 6, '경기도', 'female'), 
    ('학생7', 7, '춘천', 'female'),
    ('학생8', 8, '경기도', 'female'), 
    ('학생9', 9, '춘천', 'female'),
]

c = conn.cursor()
c.executemany(sql, data) 
c.close 
conn.commit()

In [ ]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

#하나의 데이터 확인
print(c.fetchone())

In [ ]:
for s in c.fetchmany(2):
    print(s)

In [ ]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
#10건의 데이터를 가져오겠다는 의미
for s in c.fetchmany(10):
    print(s)